*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    overflow-x: hidden;
   
}

.header{
    min-height: 600px;
    width: 100%;
    background-image:url("3.jpg");
    background-position: center;
    background-size: cover;
}

.nav-links{
   
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a {
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 400px;
}

.row{
    margin-top: 5%;
    display: flex; 
    justify-content: space-between;
}

.trend{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.sell{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}
.sell img{
    width: 100%;    
}
